asgiref==3.10.0
cachetools==6.2.1
certifi==2025.10.5
charset-normalizer==3.4.3
dj-database-url==3.1.2
Django==5.2.7
django-cors-headers==4.9.0
django-ratelimit==4.1.0
djangorestframework==3.17.1
google-api-core==2.26.0
google-auth==2.41.1
google-cloud-dialogflow==2.41.2
googleapis-common-protos==1.70.0
grpcio==1.75.1
grpcio-status==1.75.1
gunicorn==25.3.0
idna==3.11
mercadopago==2.3.0
mysqlclient==2.2.7
packaging==26.0
proto-plus==1.26.1
protobuf==6.32.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
python-dotenv==1.2.1
pytz==2025.2
requests==2.32.5
rsa==4.9.1
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.12.0
